<ion-content [fullscreen]="true">
  <ion-header translucent="true">
    <ion-toolbar>
      <div id="cabecera">
        <img src="../../assets/cabecera.png" style="width: 200px;" alt="logo">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-row class="scrollable">
    <ion-col>
      <div class="scroll-container">
        <ion-chip>Listas</ion-chip>
        <ion-chip>Albums</ion-chip>
        <ion-chip>Artistas</ion-chip>
        <ion-chip>Podcasts</ion-chip>
        <ion-chip>Canciones</ion-chip>


      </div>

    </ion-col>
  </ion-row>

  <ion-row class="scrollable">
    <ion-col>
      <div class="scroll-container">
        <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8]">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="scrollable">
    <ion-col>
      <div class="scroll-container">
        <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8]">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="scrollable">
    <ion-col>
      <div class="scroll-container">
        <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8]">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="scrollable">
    <ion-col>
      <div class="scroll-container">
        <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8]">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>

</ion-content>