ion-content {
    .album-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
        padding: 12px 0;
        width: 100%;
    }

    

    ion-button.carga {
        width: 220px; // o el ancho que prefieras
        min-width: 160px;
        margin: 0 auto;
    }


    .album-card {
        background: rgb(103, 103, 103);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(182, 182, 182, 0.1);
        width: calc(50% - 16px); // 2 por fila, con gap
        max-width: 180px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: transform 0.5s;
    }

    .album-card:hover {
        transform: scale(1.09);
        box-shadow: 0 5px 9px rgba(163, 65, 0, 0.522);
    }

    .album-card img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
        background: #222;
        max-width: 160px;
        margin-top: 8px;
    }

    .album-title {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        padding: 10px 8px;
        width: 100%;
        word-break: break-word;
    }

    .custom-title {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        padding: 18px 0 6px 0;
        letter-spacing: 0.5px;
        text-align: center;
    }

}