:host {
    --ion-color-primary: #ee4300;
    --ion-color-primary-rgb: 0, 102, 0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #d13b00;
    --ion-color-primary-tint: #f84600;
    --color-selected: #ee4300;
}
