<ion-content class="ion-padding dark-theme">
  <div class="content-wrapper">
    <div class="login-container">
      <div class="login-image">
        <img src="assets/icon/favicon.png" alt="Dawfy login" class="centered-image">
      </div>
      <div class="login-form">
        <div class="form-header">
          <ion-title>Dawfy</ion-title>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item class="dark-item">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>

          <ion-item class="dark-item">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>

          </ion-item>

          <ion-button type="submit" expand="block" class="login-btn" [disabled]="loginForm.invalid">
            Iniciar Sesion
          </ion-button>

        </form>

        <div class="form-footer">
          <p>¿Has olvidado la contraseña?</p>
          <p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
        </div>
      </div>
    </div>
  </div>
</ion-content>