<ion-grid [fixed]="true">
  <ion-row class="scrollable">
    <ion-col>
      <div class="scroll-container">
        <ion-chip *ngFor="let categoria of categorias" (click)="onCategoriaClick(categoria)"
          [color]="categoria === 'Todos' ? 'primary' : 'default'">
          {{ categoria }}
        </ion-chip>
      </div>
    </ion-col>
  </ion-row>


  <ion-row class="artistas-row">
    <ion-col *ngFor="let artista of artistas" size="6" class="lista">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="artista.foto" alt="{{ artista.nombre }}" />
        </ion-thumbnail>
        <ion-label>{{ artista.nombre }}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>